/*
========================================================================
PARTIE GLOBAL
========================================================================
*/

*{
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
}

:root{
    --white : white;
    --black : black;
    --brown : #c59d5f;
}
#wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
/*
========================================================================
PARTIE HEADER
========================================================================
*/
header{
    background-image: url("../img/h5-revolution-img-1.jpg");
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

header #img_header {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#img_header img{
    max-height: 100%;
    height: 80vh;
}





/*
========================================================================
PARTIE NAV
========================================================================
*/
nav{
    background-color: rgba(0, 0, 0, 0.5);;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: larger;
    position: fixed;
    top: 0;
    z-index: 99; /*Car les éléments de la gallerie passait par dessus*/
}

nav ul {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    gap: 3%;

}

nav li a:hover, #social_network i:hover{
    transition: 0.2s;
    color: rgb(189, 189, 189);
}

nav li , nav a:visited ,nav a {
    color: white;
    list-style: none;
    text-transform: uppercase;
    transition: 0.2s;
    text-decoration-line: none;
}

#logo{
    flex: 0.2;
    justify-self: start;
    display: flex;
    margin: 2%;
}

#logo img {
    width: 50%;
}

#social_network{
    flex: 0.2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#social_network i{
    padding: 2%;
    color: #ffffff;
    transition: 0.2s;
}

/*
========================================================================
PARTIE BANNER
========================================================================
*/

#quote_banner {
    background-color: var(--brown);
    display: flex;
    align-items: center;
    justify-content: center;
}

#quote_banner p{
    color: var(--white);
    font-size: xx-large;
    text-transform: uppercase;
    width: 100%;
    max-width: 100vw;
    text-align: center;
    margin: 5%;
}

/*
========================================================================
PARTIE TRADITION
========================================================================
*/

#tradition{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#tradition .tradition_box {
    flex: 0.5;
    display: flex;
}
.tradition_content{
    flex: 1;
    width: 100%;
}
.tradition_img {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tradition_content{
    flex:1;
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



.tradition_content h1 {
    font-size: 42px;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
}
.tradition_content h2 {
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
}
.tradition_content p{
    font-family: "Raleway", sans-serif;
    text-align: center;
    line-height: 1.8;
    color: darkgray;
    margin: 5%;
}

.tradition_content button {
    width: 30%;
    height: 15%;
    border: none;
    border-radius: 5px;
    background-color: var(--brown);
    color: var(--white);
    font-weight: 300;
    font-size: larger;
    text-transform: uppercase;
    font-style: normal;
    transition: 1s;
}

.tradition_content button:hover {
    transition: 1s;
    filter: brightness(1.1);
}

#tradition_template_1{
    background-image: url(../img/h5-el-holder-img-1-1.jpg);
}
#tradition_template_2{
    background-image: url(../img/h5-el-holder-img-2.jpg);
}

/*
========================================================================
PARTIE GALERIE
========================================================================
*/

#galerie{
    display: flex;
    flex-direction: row;
    max-width: 100vw;
}

#galerie figure {
    flex:1;
    width: 25%;
    position: relative; 
    overflow: hidden; 
    transition: all 0.3s; 
}
#galerie img {
    width: 100%;
    display: block;
    transition: 1s; 
}

#galerie figure .hover_content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%; 
    height: 100%; 
    object-fit: fill;
    background-color:	rgba(197, 157, 95,0.85);
    transition: 1s;
    opacity: 0; 
}

.hover_content i{
    font-size: 100px;
    font-weight: 50;
    color: var(--white);
    transform: rotate(45deg);
}

#galerie figure:hover .hover_content {
    opacity: 1; 
    transform: scale(1);
    transition: 2s;
}
#galerie figure:hover i{
    transition: 2s;
    transform: rotate(225deg);
}
/*
#galerie figure:hover img {
    transform: scale(1.1);
}
*/

/*
========================================================================
PARTIE CARD
========================================================================
*/
/*Il manque l'animation sur les images manquant*/
#cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:2% 0;
    gap: 1%;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:1%
}

.card_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card_content h1 {
    text-align: center;
    font-size: x-large;
}

.card_content p {
    text-align: center;
    font-size: medium;
    color: darkgrey;
}

.card:hover h1 {
    color: var(--brown);
    transition: 0.5s;
}

/*
========================================================================
PARTIE PARALLAXE
========================================================================
*/

#parallaxe{
    background-image: url("../img/h5-parallax-img-2.jpg");
    min-height: 30vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#parallaxe h1{
    color: var(--white);
    text-transform: uppercase;
    font-weight: 300;
    font-size: 50px;
}

#parallaxe p{
    color:var(--white);
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    margin: 2%;
}
/*
========================================================================
PARTIE MAPS
========================================================================
*/
#maps {
    background: #d6d6d6;
    height: 60vh;
    width: 100%;
}

/*
========================================================================
PARTIE MAPS
========================================================================
*/


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: var(--black);
}

footer img{
    width: 70%;
}



/*
========================================================================
PARTIE RESPONSIVE (a partir de 950 de largeur ca devient compliqué)
========================================================================
*/

@media (max-width: 950px) { 




    nav{
        flex-direction: column;
    }
    nav ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #logo {
        display: none;
    }
    #social_network{
        display: none;
    }
    header {
        flex-direction: column;
    }
    #img_header img{
        max-width: 100%;
        height: 100%;
    }




    .tradition_content{
        max-width: 100vw;
        margin-bottom: 2%;
    }
    #tradition{
        height: auto;
    }
    .tradition_box:nth-child(1){
        flex-direction: column-reverse;
    }
    .tradition_box {
        flex-direction: column;
    }


    #galerie {
        flex-direction: column;
    }
    #galerie figure {
        width: 100%;
    }




    #cards {
        flex-direction: column;
    }

    #parallaxe p {
        margin: 2% 10%;
    }

 }
