/*
========================================================================
PARTIE GLOBAL
========================================================================
*/

*{
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
}

:root{
    --white : white;
    --black : black;
    --brown : #c59d5f;
}
#wrapper {
    display: flex;
    flex-direction: column;
}
/*
========================================================================
PARTIE HEADER
========================================================================
*/
header{
    background-image: url("../img/h5-revolution-img-1.jpg");
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

header figure {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
header img{
    min-height: 100%;
    object-fit: fill;
}



/*
========================================================================
PARTIE NAV
========================================================================
*/
nav{
    background-color: rgba(0, 0, 0, 0.5);;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: larger;
    position: fixed;
    top: 0;
}

nav ul {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    gap: 3%;

}

nav li a:hover, #social_network i:hover{
    transition: 0.2s;
    color: rgb(189, 189, 189);
}

nav li , nav a:visited ,nav a {
    color: white;
    list-style: none;
    text-transform: uppercase;
    transition: 0.2s;
    text-decoration-line: none;
}

#logo{
    flex: 0.2;
    justify-self: start;
    display: flex;
    margin: 2%;
}

#logo img {
    width: 50%;
}

#social_network{
    flex: 0.2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#social_network i{
    padding: 2%;
    color: #ffffff;
    transition: 0.2s;
}

/*
========================================================================
PARTIE BANNER
========================================================================
*/

#quote_banner {
    background-color: var(--brown);
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#quote_banner p{
    color: var(--white);
    font-size: xx-large;
    text-transform: uppercase;
    margin: 5%;
    text-align: center;
}

/*
========================================================================
PARTIE TRADITION
========================================================================
*/

#tradition{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#tradition .tradition_box {
    flex: 0.5;
    display: flex;
}
.tradition_content{
    flex: 1;
    width: 100%;
}
.tradition_img {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tradition_content{
    flex:1;
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



.tradition_content h1 {
    font-size: 42px;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
}
.tradition_content h2 {
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
}
.tradition_content p{
    font-family: "Raleway", sans-serif;
    text-align: center;
    line-height: 1.8;
    color: darkgray;
    margin: 5%;
}

.tradition_content button {
    width: 30%;
    height: 15%;
    border: none;
    border-radius: 5px;
    background-color: var(--brown);
    color: var(--white);
    font-weight: 300;
    font-size: larger;
    text-transform: uppercase;
    font-style: normal;
    transition: 1s;
}

.tradition_content button:hover {
    transition: 1s;
    filter: brightness(1.1);
}

#tradition_template_1{
    background-image: url(../img/h5-el-holder-img-1-1.jpg);
}
#tradition_template_2{
    background-image: url(../img/h5-el-holder-img-2.jpg);
}

/*
========================================================================
PARTIE GALERIE
========================================================================
*/

#galerie{
    display: flex;
    flex-direction: row;
    max-width: 100vw;
}

#galerie figure {
    flex:1;
    width: 25%;
    position: relative; 
    overflow: hidden; 
    transition: all 0.3s; 
}
#galerie img {
    width: 100%;
    display: block; 

}

figure .hover_content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%; 
    height: 100%; 
    object-fit: fill;
    background-color:	rgba(197, 157, 95,0.85);
    transition: opacity 0.3s; 
    opacity: 0; 

}

.hover_content i{
    font-size: 100px;
    font-weight: 50;
    color: var(--white);
    transform: rotate(45deg);
}

figure:hover .hover_content {
    opacity: 1; 
    transition: 2s;
}
.hover_content:hover i{
    transition: 2s;
    transform: rotate(225deg);
}

